* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}